.title {
    color: white;
    font-size: 100px;
    text-align: center;
    transform: translateY(50%);
}

.subtitle {
    color: white;
    font-size: 75px;
    text-align: center;
    transform: translateY(50%);
}